<h1 style="color:red;">{{messageParent}}</h1>
<button class="btn btn-warning" (click)="sendMessage()">Message output to parent</button>
<div class="card" style="width: 18rem;">
    <img src="{{product.picture}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">
          price: {{product.price}}    
      </p>
      <p class="card-text">
          likes: {{product.nbrLike}}    
      </p>
      <button href="#" class="btn btn-primary" (click)="addLike()">Like</button>
    </div>
</div>
